fastapi==0.116.1
uvicorn==0.35.0
starlette==0.47.2

torch==2.8.0
transformers==4.53.2
sentence-transformers==5.0.0
scikit-learn==1.6.1
numpy==2.0.2

huggingface-hub==0.33.4
tokenizers==0.21.2
safetensors==0.5.3

pinecone-client==3.2.2
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.69
langchain-groq==0.3.6
langchain-text-splitters==0.3.8
langsmith==0.4.8

httpx==0.28.1
httpcore==1.0.9
aiohttp==3.12.14
anyio==4.9.0
yarl==1.20.1

pydantic==2.11.7
pydantic-core==2.33.2
pydantic-settings==2.10.1

certifi==2024.7.4
fsspec==2024.2.0
requests==2.32.4
python-dotenv==1.1.1
PyYAML==6.0.2
jinja2==3.1.6
click==8.1.8
regex==2024.11.6
tqdm==4.67.1
attrs==25.3.0
